body {
  background-color: rgba(159, 188, 136, 0.455);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
}

#message-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px;
}

.message {
  min-width: 100px; /* Минимальная ширина, чтобы текст не выходил за пределы */
  max-width: 100%;  /* Максимальная ширина, чтобы не выходить за пределы контейнера */
  width: auto;      /* Ширина автоматически изменяется в зависимости от содержимого */
  min-height: 20px;
  margin-top: 10px;
  background-color: rgb(179, 200, 178);
  border: 1px solid rgb(179, 200, 178);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
  color: #31493a;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block; /* Используется для автоматического расширения ширины */
}


.message.question {
  background-color: rgb(210, 230, 190);
}

.message.answer {
  background-color: rgb(190, 210, 230);
}

.record-button {
  width: 100px;
  height: 100px;
  background-image: url('./assets/Patterns and Icon Design for Divorce Lawyer Branding.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
